@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-accent-color: rgb(79, 68, 224);

  --background-layer-1: rgb(255, 255, 255);
  --background-layer-2: rgb(246, 246, 246);

  --text-color-primary: rgb(42,42,47);
  --text-color-secondary: rgb(143, 143, 145);

  --border-primary: rgb(233, 233, 233);
  --border-secondary: rgb(143, 143, 145);

  &.dark {
    --background-layer-1: rgb(31, 32, 35);
    --background-layer-2: rgb(40, 41, 44);

    --text-color-primary: rgb(246, 246, 246);
    --text-color-secondary: rgb(136, 137, 138);

    --border-primary: rgb(58,59,61);
    --border-secondary: rgb(136, 137, 138);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text-color-primary);
  background: var(--background-layer-1)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
