@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground-color-primary);
  background: var(--background-layer-1)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
